* {
  box-sizing: border-box;
  list-style: none;
}

.spaces {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.spaces-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px 200px;
}

.space-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  box-shadow: 0 0 5px 1px #dbdbdb;
  border-radius: 5px;
}

.space-main {
  display: flex;
  gap: 10px;
}

.space-imgae-container {
  width: 100%;
  max-width: 300px;
  height: 300px;
}

.space-imgae-container img {
  width: 100%;
}

.space-info {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.space-main-info {
  text-align: left;
}

.space-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px dotted #dbdbdb;
}

.archived {
  color: white;
  background: rgb(247, 155, 139);
  padding: 10px;
  border-radius: 6px;
}

.remove-btns {
  color: white;
  background: tomato;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.remove-btns:hover {
  background: rgb(248, 79, 49);
}

.remove-btns:disabled {
  background: rgb(155, 155, 154);
}

.details-page {
  max-width: 1000px;
  margin: 3em auto;
}

.space-main-details {
  text-align: right;
}

.space-name {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.space-desc {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.details-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.details {
  margin-top: 2.5em;
}

li.details-row:nth-child(2n) {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: 10px 60px;
  border: none;
  border-radius: 2px;
  background-color: #e2e3e5;
}

.back-btn {
  margin: 10px;
  text-align: left;
}

.reserve-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #98bf0c;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px;
}

.back-icon {
  padding: 4px 26px;
  border: none;
  text-align: right;
  border-radius: 20px;
  font-size: 3rem;
  background-color: #98bf0c;
}

.space-details {
}
