.spaces-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.rec.rec-arrow {
  background-color: green;
  border-radius: 0;
  color: #fff;
}

.rec.rec-arrow:focus {
  background-color: green;
  color: #fff;
}

.rec.rec-arrow:hover {
  border-radius: 50%;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: 10px 10px 10px #888;
}

.ant-card-actions li span {
  width: 50%;
}

.ant-card-actions li span a {
  border: 1px solid #000;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  margin-left: 45%;
}
